<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPS Program 7.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF09B046243E35D4007B9CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF09B05C243E35D9007B9CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF09B067243E35D9007B9CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
